<div id="order-page">
  <div>
    <div class="span6">
      <button class="btn btn-primary btn-block btn-large">
        私房牛头面馆
      </button>

      <table class="table table-striped" id="order-list">
        <thead>
          <tr>
            <th></th>
            <th>菜名</th>
            <th>备注</th>
            <th>份数</th>
            <th>单价</th>
            <th>小计</th>
          </tr>
        </thead>
        <tbody>
          
          <tr>
            <td colspan="6">
              <p style="color: red">合计 <span style="font-size: 2em;font-style: italic;" id="orderTotalPrice"></span></p>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="span6">
      <div class="tabbable" id="cookbook">
        <ul class="nav nav-tabs" data-tabs="tabs" id="cookbook-category">
          <li class="active">
            <a href="#tab1" data-toggle="tab" class="active">川菜</a>            
          </li>
          <li>
            <a href="#tab2" data-toggle="tab">湘菜</a>
          </li>
          <li>
            <a href="#tab3" data-toggle="tab">粤菜</a>
          </li>
          <li>
            <a href="#tab4" data-toggle="tab">闽菜</a>
          </li>
          <li>
            <a href="#tab5" data-toggle="tab">徽菜</a>
          </li>
          <li>
            <a href="#tab6" data-toggle="tab">浙菜</a>
          </li>
        </ul>
        <div class="tab-content">
          <% (1..6).each do |index| %>
            <div class="tab-pane <%= "active" if index == 1 %>" id="tab<%= index %>">
              <ul class="nav">
                <li>
                  <button class="span4 btn btn-large food" data-id="<%= index %>1" data-price="10.0">麻婆豆腐<%= index %></button>
                </li>
                <li>
                  <button class="span4 btn btn-large food" data-id="<%= index %>2" data-price="10.0">回锅肉<%= index %></button>
                </li>
                <li>
                  <button class="span4 btn btn-large food" data-id="<%= index %>3" data-price="10.0">宫保鸡丁<%= index %></button>
                </li>
                <li>
                  <button class="span4 btn btn-large food" data-id="<%= index %>4" data-price="10.0">夫妻肺片<%= index %></button>
                </li>
                <li>
                  <button class="span4 btn btn-large food" data-id="<%= index %>5" data-price="10.0">口水鸡<%= index %></button>
                </li>
                <li>
                  <button class="span4 btn btn-large food" data-id="<%= index %>6" data-price="10.0">重庆鸡公煲<%= index %></button>
                </li>
                <li>
                  <button class="span4 btn btn-large food" data-id="<%= index %>7" data-price="10.0">蒜泥白肉<%= index %></button>
                </li>
              </ul>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>

  <div id="order-footer" class="span12">
      <div class="span10">
        <div class="btn-group">
          <button class="btn btn-info btn-large" id="plus-item">数量 <i class="icon-plus"></i></button>
          <button class="btn btn-info btn-large" id="delete-order">整单删除 <i class="icon-trash"></i></button>
        </div>
        <br>
        <div class="btn-group">
          <button class="btn btn-info btn-large" id="minus-item">数量 <i class="icon-minus"></i></button>
        </div>
      </div>

      <button class="btn btn-danger span2" id="checkout">结账</button>

    <div class="span12 base-info">
      <div class="">
        <p>
          <span>收款管理软件</span>
          <span>门店：宝山店</span>
          <span>收银员：<%= current_user.username %></span>
        </p>
        <p>
          <span>单号：201301010001</span>
          <span>台号：001</span>
        </p>
      </div>
    </div>
  </div>
</div>

<script type="text/template" id="order-template">
  <td></td>
  <td><%%= title %></td>
  <td><%%= tag %></td>
  <td><%%= ammount %></td>
  <td><%%= price %></td>
  <td class='total-price'></td>
</script>
