<h2>注册</h2>

<%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :class => 'form_horizontal' }) do |f| %>

  <%= f.input :username %>
  <%= f.input :nickname %>
  <%= f.input :password %>
  <%= f.input :password_confirmation %>

  <%= f.submit "注册" %>

<% end %>

<%= render "users/shared/links" %>
