<h2>登录</h2>

<%= simple_form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => { :class => "form_horizontal" }) do |f| %>

  <%= f.input :username, :label => '用户名' %>
  <%= f.input :password, :label => '密码' %>

  <%= f.submit "登录" %>
  
<% end %>

<%= render "users/shared/links" %>

